---
---
:root {
  --texto-cinza: rgb(42, 103, 136);
  --brancoAlpha: rgba(255, 255, 255, .7);
  --titulo-azul: rgb(46, 57, 87);
  --bg-azulClaro: rgb(185, 187, 192);
  --bg-rosaClaro: rgb(176, 169, 181);
  --textoTecido-cinza: rgb(162, 118, 144);
  --bg: linear-gradient(to right, rgb(224, 220, 194), rgb(224, 194, 172));
}


*, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {text-decoration: none; color: var(--titulo-azul);}

a:hover{ color: var(--textoTecido-cinza); }

*:hover{ 
  text-decoration: none;
  transition: all 0.5s;
}

html {
  scroll-behavior: smooth;
}

body{
  background: var(--bg);
  color: var(--texto-cinza);
  font-family: Chivo, sans;
}

/* Typography */

h1, h2, h3, h4 {
  color: var(--titulo-azul);
  font-family: Unna, serif;
}

p {
  max-width: 38rem;
  margin-bottom: 1rem;
}

/* Main Layout */

.main {

}

.main > .box-halfLeft {

  align-self: end;
  padding-bottom: 1rem;
}

.main > .box-halfRight {

  z-index: 1000;
}

.box-full {
  z-index: -100;
}

img {
  width: 100%;
}

/* Footer */

.header {margin: 1rem 0;}

.postMenu {
  background: url({{ '/img/bg-index.jpg' | prepend: site.baseurl }});
  background-size: cover; 
  height: 75px;
  display: flex;
  justify-content: space-around;
}

.menu {
  position: sticky;
  bottom: 0rem;
  box-shadow: 0px -4px 5px rgba(0,0,0,.4);
}

.postMenu > .button {
  margin: 1rem auto 1rem 1rem;
}

.nav--brand {
  margin-top: 1rem;
  margin-right: 1rem;
}

.nav--brand > img {
  height: 40px;
  width: auto;
}

/* Navigation */

.nav {
  margin-top: 2rem;
}

.nav--button, .index--button, .nav--button a {
  background: var(--texto-cinza);
  color: var(--brancoAlpha);
  padding: .7rem;
  margin-top: 1rem;
  border-radius: 2px;
  box-shadow: 4px 4px 2px rgba(0,0,0,.3);
  text-align: center;
}

.nav--button {
  position: absolute;
  bottom: 1rem;
}

.nav--button:hover, .index--button:hover {
  background: var(--titulo-azul);
  color: var(--brancoAlpha);
  box-shadow: none;
}

.nav--showOnClick {
  opacity: 0;
  transition: ease .5s;
  margin-top: 1.5rem;
  position: absolute;
  bottom: 8.3rem;
}

.nav--showOnClick__item {
  background: var(--texto-cinza);
  padding: .5rem;
  list-style: none;
  border-bottom: 1px solid var(--bg-azulClaro);
  border-top: 1px solid var(--bg-azulClaro);
  color: var(--bg-azulClaro);
}

.nav--showOnClick__item a {
  color: var(--bg-azulClaro); 
}

.nav--showOnClick__item:hover {
  background: var(--titulo-azul); 
}

/* Produtos */

.medidas {
  font-size: .8rem;
  text-transform: uppercase;
  color: var(--textoTecido-cinza);
  position: absolute;
  margin: 1rem;
  background: var(--bg);
  padding: 1rem;
  border-radius: 4px;
  box-shadow: 3px 3px 5px rgba(0,0,0,.3);
}

.medidas:hover  {
  background: var(--brancoAlpha);
}

.page {
  margin: 1rem;
}

/* Index Layout */

.main-index {
  background-image: url({{ '/img/bg-index.jpg' | prepend: site.baseurl }});
  -webkit-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.main-index > .box-halfLeft,
.main-index > .box-halfRight {
  align-self: center;
  justify-self: center;
}

.box-alpha {
  background: var(--brancoAlpha);
  padding: 3rem;
  border-radius: 5px;
}

.box-alpha > p {
  margin-bottom: 2rem;
}

.box-alpha > a {
  font-family: Unna, serif;
  font-size: 1.4rem;
}

/* Navegação dos produtos */

.postNav-left, .postNav-right {
  background: var(--brancoAlpha);
  padding: .4rem;
  margin-bottom: 1rem;
  cursor: pointer;
  position: fixed;
  top: 50%;
}

.postNav:hover {
  box-shadow: none;
  background: #fff;
}

.postNav-left {
  margin-right: 3px;
  box-shadow: -3px 1px 4px rgba(0,0,0,.3);
  text-align: left;
  left: 1.5rem;
}

.postNav-right {
  margin-left: 3px;
  text-align: right;
  box-shadow: 3px 1px 4px rgba(0,0,0,.3);
  right: 1.5rem;
}

.shown {
  width: 2rem;
  font-size: 2rem;
  text-align: center;
}

.hidden {
  background: var(--brancoAlpha);
  position: fixed;
  top: 50%;
  padding: 1rem;
  opacity: 0;
  transition: opacity .35s ease;
}

.hidden-left {
  left: 5rem;
}

.hidden-right {
  right: 5rem;
}

.postNav:hover .hidden {
  opacity: 1;
}

/* Páginas com grids */

.acabamento, .produtos {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  grid-column-gap: .5rem;
}

.acabamento--card, .produtos--card {
  margin-top: .5rem;
}

.acabamento--title, .produtos--title {
  grid-column: 1/-1;
  margin-top: 1rem;
}

.acabamento--card__title, .produtos--card__title {
  font-size: 1rem;
  font-family: Chivo, sans;
}

.acabamento--card__img, .produtos--card__img {
  width: 200px;
  height: 120px;
  overflow: hidden;
}

/* SWUP */

.a-fade {
  transition: 3s;
  opacity: 1;
}

html.is-animating .a-fade{
  opacity: 0;
}

.a-slide {
  transition: 3s;
  opacity: 1;
}

html.is-animating .a-slide {
  transform: translate3d(0, 120%, 0);
  opacity: 0;
}