---
layout: default
---


<div a-slide">
  <a class="medidas" href="#medidas">Medidas</a>
</div>

<div class="box-full a-fade">
  <img src="{{ page.img | prepend: site.baseurl }}" alt="{{ page.title }}">

  <div id="medidas">
    <h1>{{ page.title }}</h1>
    <p>{{ content }}</p>

  </div>
</div>

{% if page.previous %}
  <div class="postNav">
    <a href='{{ page.previous.url}}' class="postNav-left">
      <p class="shown">«</p>
    </a>
    <p class="hidden hidden-left">{{ page.previous.title }}</p>
  </div>
{% endif %}

{% if page.next %}
  <div class="postNav">
    <a href='{{ page.next.url }}' class="postNav-right">
      <p class="shown">»</p>
    </a>
    <p class="hidden hidden-right">{{ page.next.title }}</p>
  </div>
{% endif %}

<div class="menu postMenu a-fade">
  {% include nav.html %}
</div>
