---
layout: default
---

<div class="box-halfLeft ">
  <div class="a-slide">
    <h1>{{ page.title }}</h1>
    <p>{{ content }}</p>
  </div>
</div>
<div class="box-halfRight postMenu a-fade">
  {% include nav.html %}
</div>
<div class="box-full a-fade">
  <img src="{{ page.img | prepend: site.baseurl }}" alt="{{ page.title }}">
</div>

{% if page.previous %}
  <div class="postNav">
    <a href='{{ page.previous.url}}' class="postNav-left">
      <p class="shown">«</p>
    </a>
    <p class="hidden hidden-left">{{ page.previous.title }}</p>
  </div>
{% endif %}

{% if page.next %}
  <div class="postNav">
    <a href='{{ page.next.url }}' class="postNav-right">
      <p class="shown">»</p>
    </a>
    <p class="hidden hidden-right">{{ page.next.title }}</p>
  </div>
{% endif %}
